<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PureJS Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/styles/reset.css" />
    <link rel="stylesheet" href="./assets/styles/style.css" />

    <script type="text/html" id="login">
      <div class="container">
        <section class="hero">
          <h1 class="hero__heading"><%= title %></h1>
          <img class="hero__image" src="./assets/images/hero.svg" alt="Hero background image" />
          <a href="https://github.com/erq-programmer/purejs-form" class="hero__button"
            >Get started</a
          >
        </section>

        <main class="login">
          <img class="login__image" src="./assets/images/login.svg" alt="Login background image" />
          <form class="login__form">
            <label for="username" class="form__label">
              <input
                class="form__input"
                id="username"
                name="username"
                type="text"
                autocorrect="off"
                autocomplete="username"
                placeholder="&nbsp;"
                required
              />
              <span class="form__label--visible">Username</span>
            </label>

            <label class="form__label" for="password">
              <input
                class="form__input"
                id="password"
                name="password"
                type="password"
                autocorrect="off"
                autocomplete="current-password"
                placeholder="&nbsp;"
                minlength="4"
                required
              />
              <span class="form__label--visible">Password</span>
            </label>
            <span class="form__error">There are no errors!</span>
            <button class="form__submit" type="submit">Login</button>
          </form>
        </main>
      </div>
    </script>

    <script type="text/html" id="success">
      <main class="success">
        <h1 class="success__heading"><%= title %></h1>
        <img
          class="success__image"
          src="./assets/images/success.svg"
          alt="Success info background image"
        />
        <a href="/" class="success__button">Back to login page</a>
      </main>
    </script>

    <script type="text/html" id="404">
      <main class="not-found">
        <h1 class="not-found__heading"><%= title %></h1>
        <img
          class="not-found__image"
          src="./assets/images/404.svg"
          alt="Success info background image"
        />
        <a href="/" class="not-found__button">Back to login page</a>
      </main>
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="./app.js"></script>
  </body>
</html>
