<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PureJS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/styles/reset.css" />
    <link rel="stylesheet" href="./assets/styles/style.css" />

    <script type="text/html" id="login">
      <h1><%= title %></h1>
      <main class="login">
        <img class="login__image" src="./assets/images/login.svg" alt="Login background image" />
        <form class="login__form">
          <label for="username" class="form__label">
            <input
              class="form__input"
              id="username"
              name="username"
              type="text"
              autocorrect="off"
              autocomplete="username"
              placeholder="&nbsp;"
              required
            />
            <span class="form__label--visible">Username</span>
          </label>

          <label class="form__label" for="password">
            <input
              class="form__input"
              id="password"
              name="password"
              type="password"
              autocorrect="off"
              autocomplete="current-password"
              placeholder="&nbsp;"
              minlength="4"
              required
            />
            <span class="form__label--visible">Password</span>
          </label>

          <button class="form__submit" type="submit">Login</button>
        </form>
      </main>
    </script>

    <script type="text/html" id="success">
      <main>
        <h1><%= title %></h1>
        <button>Back to login page</button>
      </main>
    </script>

    <script type="text/html" id="404">
      <main>
        <h1><%= title %></h1>
        <button>Back to login page</button>
      </main>
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="./app.js"></script>
  </body>
</html>
